@import './_variables.scss';

body {
  background-color: $bodyBackground;
}

div > img {
  width: 230px;
  height: 250px;
  min-width: 230px;
  min-height: 250px;
  border-radius: 50%;
}

.first-look {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #C5D2D4;
}

#name {
  color: white;
}

.contact > ul {
  list-style-type: none;
}

.date {
  font-style: italic;
}

.addons {
  /*margin-top: 0px;*/
}

.intro, .addons {
  background-color: #E8E8E8;
}

a {
  color: blue;
  font-style: inherit;
}

a:hover {
  text-decoration: none;
  color: red;
}

@media screen and (max-width: 2170px) {
  .addons {
    margin-top: -230px;
  }
}

@media screen and (max-width: 1200px) {
  .addons {
    margin-top: -330px;
  }
}

@media screen and (max-width: 991px) {
  .addons {
    margin-top: -280px;
  }
}

@media screen and (max-width: 767px) {
  .addons {
    margin-top: 0;
  }
}