@import './_variables.scss';

div > img {
  width: 210px;
  height: 230px;
  min-width: 210px;
  min-height: 230px;
  border-radius: 50%;
}

.first-look {
  background-color: cadetblue;
}

.edu{
  background-color: #d7d7d7;
}

.projects{
  background-color: cadetblue;
}

.contact{
  background-color: #d7d7d7;
}

.contact > ul {
  list-style-type: none;
}

.date {
  font-style: italic;
}
